body {
    /* background-color: antiquewhite; */
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
    
}

.container{
    min-height: 50vh;
    width: 40%;
    margin: auto;
    /* background: white; */
    background: antiquewhite;
    border-radius: 20px;
    backdrop-filter: blur(7rem);
    box-shadow: 6px 6px rgba(44, 44, 44, 0.3);
}

h1 {
    padding-top: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#increment-btn {
    background: darkblue;
    margin-bottom: 10px;
}

#decrement-btn {
    background: darkred;
    margin-bottom: 10px;
}

#save-btn {
    background: darkgreen;
}

p{
    margin-top: 10px;
    font-size: 15px;
}